<settings>
  <!-- the path to the local repository - defaults to ~/.m2/repository
  -->
  <!-- <localRepository>/path/to/local/repo</localRepository>
  -->
  <mirrors>
    <mirror> <!--Send all requests to the public group -->
      <id>jenkins</id>
      <mirrorOf>*</mirrorOf>
      <url>https://nexus.cristie.com/repository/maven_public</url>
    </mirror>
  </mirrors>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>jenkins</activeProfile>
  </activeProfiles>
  <profiles>
    <profile>
      <id>jenkins</id>
      <!--Override the repository (and pluginRepository) "central" from the Maven Super POM
      to activate snapshots for both! -->
      <repositories>
        <repository>
          <id>jenkins2-central</id>
          <url>https://nexus.cristie.com/repository/maven_central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>jenkins2-releases</id>
          <url>https://nexus.cristie.com/repository/maven_releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jenkins2-public</id>
          <url>https://nexus.cristie.com/repository/maven_public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>sonar</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <!-- Optional URL to server. Default value is http://localhost:9000 -->
        <sonar.host.url>
          http://localhost:9000
        </sonar.host.url>
      </properties>
    </profile>
  </profiles>

  <pluginGroups>
    <pluginGroup>org.sonatype.plugins</pluginGroup>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>jenkins2-snapshots</id>
      <username>builduser</username>
      <password>Cr1st13S0ftware</password>
    </server>
    <server>
      <id>jenkins2-releases</id>
      <username>builduser</username>
      <password>Cr1st13S0ftware</password>
    </server>
  </servers>
</settings>